body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #bbb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Интервал между стадиями сверху вниз */
    margin-bottom: 30px; /* Интервал между стадиями снизу вверх */
}

.match {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    position: relative;
}

.match:hover {
    transform: translateY(-5px);
}

.participant {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #666;
    font-size: 16px;
    background-color: #222;
    color: #bbb;
    transition: all 0.3s ease;
}

.participant:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

.round:nth-child(1) .match:nth-child(1) {
    position: relative;
}

.round:nth-child(1) .match:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 100%; /* Положение полосы по вертикали */
    left: 135px; /* Положение полосы по горизонтали */
    height: 50px; /* Высота полосы */
    width: 1px; /* Ширина третьей полосы */
    background-color: white;
}

.round:nth-child(1) .match:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 130%; /* Положение полосы по вертикали */
    height: 1px; /* Высота полосы */
    width: 636px; /* Ширина третьей полосы */
    left: 135px; /* Положение полосы по горизонтали */
    background-color: white;
}
.round:nth-child(1) .match:nth-child(1) .connector.additional {
    content: "";
    position: absolute;
    top: 130%; /* Положение полосы по вертикали */
    left: 770px; /* Положение полосы по горизонтали */
    height: 50px; /* Высота полосы */
    width: 1px; /* Ширина третьей полосы */
    background-color: white;
}

.round:nth-child(1) .match:nth-child(2) {
    position: relative;
}

.round:nth-child(1) .match:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 100%; /* Положение полосы по вертикали */
    left: 135px; /* Положение полосы по горизонтали */
    height: 50px; /* Высота полосы */
    width: 1px; /* Ширина третьей полосы */
    background-color: white;
}

.round:nth-child(1) .match:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 130%; /* Положение полосы по вертикали */
    height: 1px; /* Высота полосы */
    width: 318px; /* Ширина третьей полосы */
    left: 135px; /* Положение полосы по горизонтали */
    background-color: white;
}
.round:nth-child(1) .match:nth-child(2) .connector.additional2 {
    content: "";
    position: absolute;
    top: 130%; /* Положение полосы по вертикали */
    left: 452px; /* Положение полосы по горизонтали */
    height: 50px; /* Высота полосы */
    width: 1px; /* Ширина третьей полосы */
    background-color: white;
}
